<template>
  <div>
    <navigation></navigation>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

import Navigation from '@/components/Navigation'

export default {
  components: {
    Navigation
  },
}
</script>


<style>
.container {
  margin-top: 80px;
}
</style>
