<template>
  <div>
    <h2 class="display-3">Issues of project {{$route.params.id}}</h2>
    <hr/>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="righted">ID</th>
        <th scope="col" class="centered">Name</th>
        <th scope="col" class="righted">Time</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="issues" v-for="issue in issues" :key="issue.id">
        <td class="righted">{{issue.id}}</td>
        <td class="righted">{{issue.name}}</td>
        <td class="righted">0</td>
      </tr>
      </tbody>
    </table>
    <paginate
      :page-count="totalPages"
      :margin-pages="3"
      :click-handler="changePage"
      :prev-text="'Prev'"
      :next-text="'Next'"
      :container-class="'pagination justify-content-center'"
      :page-class="'page-item'"
      :page-link-class="'page-link'"
      :prev-class="'page-item'"
      :prev-link-class="'page-link'"
      :next-class="'page-item'"
      :next-link-class="'page-link'"
    >
    </paginate>
  </div>
</template>

<script>
import store from '../store'
import Paginate from 'vuejs-paginate';

export default {
  components: {Paginate},
  computed: {
    issues: () => {
      return store.state.issue.issues
    },
    totalPages: () => {
      return store.state.issue.totalPages
    }
  },
  created: function () {
    store.dispatch('getIssueByPage', {projectId: this.$route.params.id, page: 0})
  },
  methods: {
    changePage: (page) => {
      store.dispatch('getIssueByPage', {projectId: store.state.issue.projectId, page: (page - 1)})
    }
  }
}
</script>


<style>
.centered {
  text-align: center
}

.righted {
  text-align: right;
}

.fa-plus-circle {
  color: green;
}

.fa-search {
  color: blue;
}

.fa-play {
  color: dimgrey;
}
</style>
