<template>
  <div class="centered">
    <h2>Log In</h2>
    <p>Log in to your account to get some great quotes.</p>
    <!--<div class="alert alert-danger" v-if="error">-->
    <!--<p>{{ error }}</p>-->
    <!--</div>-->
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your username"
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
      >
    </div>
    <button class="btn btn-primary">Access</button>
  </div>
</template>

<script>
export default {
  name: "Login"
}
</script>

<style scoped>
.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
