<template>
  <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
    <router-link to="/" class="navbar-brand"><i class="fa fa-info" aria-hidden="true"></i> Issuer</router-link>

    <ul class="navbar-nav mr-auto">
      <router-link tag="li" class="nav-item" active-class="active" to="/" exact><a class="nav-link">Dashboard</a>
      </router-link>
      <router-link tag="li" class="nav-item" active-class="active" to="/search"><a class="nav-link">Search</a>
      </router-link>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <router-link to="/user/:id" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i> Dissupos
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/logout" class="nav-link">Logout</router-link>
      </li>
    </ul>
  </nav>
</template>

