<template>
  <div>
    <h2 class="display-3">Projects</h2>
    <hr/>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="centered">Project name</th>

        <th scope="col" class="righted">Issues count</th>
        <th scope="col" class="centered">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="projects" v-for="project in projects"
          :key="project.id">

        <td>
          <router-link :to="`projects/${project.id}/issues`">{{project.name}}</router-link>
        </td>
        <td class="righted" style="width:15%">{{project.issuesCount}}</td>
        <td class="centered" style="width:30%">
          <button class="btn btn-success btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i> New issue</button>
          <button class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i> Delete project</button>
        </td>

      </tr>
      </tbody>
    </table>
    <paginate
      :page-count="totalPages"
      :margin-pages="3"
      :click-handler="changePage"
      :prev-text="'Prev'"
      :next-text="'Next'"
      :container-class="'pagination justify-content-center'"
      :page-class="'page-item'"
      :page-link-class="'page-link'"
      :prev-class="'page-item'"
      :prev-link-class="'page-link'"
      :next-class="'page-item'"
      :next-link-class="'page-link'"
    >
    </paginate>
  </div>
</template>

<script>
import store from '../store'
import Paginate from 'vuejs-paginate';

export default {
  components: {Paginate},
  computed: {
    projects: () => {
      return store.state.project.projects
    },
    totalPages: () => {
      console.log(store.state.project)
      return store.state.project.totalPages
    }
  },
  created: () => {
    store.dispatch('getDateByPage', 0)
  },
  methods: {
    changePage: (page) => {
      store.dispatch('getDateByPage', page - 1)
    }
  }
}
</script>


<style scoped>
.centered {
  text-align: center
}

.righted {
  text-align: right;
}

.fa-plus-circle {
  color: green;
}

.fa-search {
  color: blue;
}

.fa-play {
  color: dimgrey;
}
</style>
