<template>
  <div>
    <h2 class="display-3">Search</h2>
    <hr/>

    <form class="form-inline d-flex justify-content-between">
      <div class="input-group my-1">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
        <select class="custom-select custom-select-sm my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>Select project...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Your query"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
      </div>

    </form>
  </div>
</template>

<script>
export default {
  name: "Search"
}
</script>

<style scoped>

</style>
